
#body{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

    width: 300px;
    height: 500px;
    border: 3px solid #000;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    flex-direction: column;    
}

#body::after{
    position: absolute;
    content:'xxk';
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    opacity: .1;
}

#body>main{
    flex: 1;
    position: relative;
}
#body>nav{
    height: 50px;
    background:#2c3e50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#body>nav a{
    text-decoration: none;/* 取消下划线 */
    font-size:1.2em;
    color: white;
    opacity: .8;
    text-transform: uppercase;/* 转大写 */
    flex:1;
    text-align: center;
}
#body>nav a:nth-child(2){
    border-right: 1px solid silver;
    border-left: 1px solid silver;         
}
#body>main>div{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transform: translateY(-100%);
    transition: 1s;
    z-index:1
}
#body>main>div:target{
    transform: translateY(0);
}
#body>main>div:nth-of-type(1):target{
    background: #1abc9c;
}
#body>main>div:nth-of-type(2):target{
    background: #9b59b6;
}
#body>main>div:nth-of-type(3):target{
    background: #f39c12;
}

#body svg{
    font-size: 5em;
    color: white;
}