*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box
}
#border{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 700px;
    border: 2px solid silver;
}

.button{
    float: left;
    width: 300px;

}

.button a{
    text-decoration: none
}

.tag{
    display: block;
    padding: 20px;
    margin: 0 20px;
    border: solid 1px darkgray;
}
.active{
    background-color: orange;
    color: white
}

h3{
    text-align: center;
    line-height: 20px
}
